.custom-width {
  max-width: 80%;
}
.header {
  display: flex;
  background-color: blue;
  justify-content: right;
  padding: 10px;
  color: whitesmoke;
}

.row-search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#current-weather {
  display: flex;
  flex-direction: column;
  border: 2px lightblue solid;
  padding: 10px;
}
#current-weather.hide {
  display: none;
}

.list-group-item {
  text-transform: capitalize;
}

#forecast .card {
  display: flex;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}
#forecast {
  display: flex;
  justify-content: space-between;
}

#forecast .item {
    width: 19%;
}

.hide {
  display: none;
}

.selected {
  background-color: lightblue;
  /* color: white;  */
}
