.custom-width{
    max-width: 80%;
}
.header {
    display: flex;
    background-color: blue;
    justify-content: right;
    padding: 10px;
    color: whitesmoke;
}

.row-search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#current-weather {
display: flex;
flex-direction: column;
/* border: 2px lightblue solid;
padding: 10px; */
}

#forecast .card {
    display: flex;
    background-color: lightblue;
    
}
#forecast{
    display: flex;
    justify-content: space-around;
}

.hide{
    display: none;
}

.selected { 
    background-color: #007bff; 
    color: white; 
}
